body {
    font-family: Georgia,"Bitstream Charter",serif;
    line-height: 18px;
    margin: 0;
    padding: 0;
    background-color: #AAAAAA;
}

#full_page {
    background: none repeat scroll 0 0 #FFFFFF;
    width: 960px;
    margin: 20px auto;
    padding: 20px;
}


/*
## ---------------------------------
##  Header Styles
## ---------------------------------
*/
.banner {
    height: 90px;
}
.logo {
    float: left;
    padding: 0 10px;
}
.logo a img {
    border: 0;
}

.slogan {
    float:left;
    margin: 48px 0 0 0;
    font-family: Helvetica,Verdana,Arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #3e9b57;
    letter-spacing: -1px;
}

.account_links {
    float: right;
    margin: 20px 10px;
    font-family: Helvetica,Verdana,Arial,sans-serif;
    font-size: 16;
    color: #000000;
}
.account_links a {    
    text-decoration: none;
    color: #000000;
}
.account_links a:hover {
    color: #219B42;
}

/*
## ---------------------------------
##  Main Menu 
## ---------------------------------
*/
#top_nav {
    background: none repeat scroll 0 0 #000000;
}
.main_menu {
    height: 38px;
    margin-left: 12px;
}
.main_menu ul {
    margin: 0;
    padding: 0;
    list-style: none inside none;
}
.main_menu li {
}
.main_menu .left li {
    float: left;
}
.main_menu .left_nav_item a {
    display: block;
    padding: 0 10px;
    color: white;
    font-family: Helvetica,Verdana,Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 38px;
    text-decoration: none;
}
.main_menu .left_nav_item a:hover {
    background: none repeat scroll 0 0 #AAAAAA;
}



/*
## ---------------------------------
##  Content Styles
## ---------------------------------
*/
#content {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
}



/*
## ---------------------------------
##  application/index
## ---------------------------------
*/

#main_content {
    width: 
}

.welcome {
    
}

.events {
    width: 800px;
}

.event {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #C7C7C7;
}

.event_img_container {
    width: 130px;
    vertical-align: top;
}
.event_img {
    display: inline;
    float: left;
    margin: 0 10px;
    height: 120px;
    width: 120px;
    padding: 5px;
    border: 2px solid #D5D5D5;
}

.event_info {
    vertical-align: top;
}

.event_title {
    padding-bottom: 5px;
}
.event_title a {
    font-family: Helvetica,Verdana,Arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #2E2E2E;
    text-decoration: none;
}
.event_title a:hover {
    color: #219B42;
}

.event_info_label {
    float: left;
    font-family: Verdana,Helvetica,Arial,sans-serif;    
}
.event_description {
    padding: 0 0 12px 100px;
    font-family: Verdana,Helvetica,Arial,sans-serif;
}
.event_fact {
    float: left;
    padding-right: 70px;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

/*
.events {
    -moz-border-radius: 8px 8px 8px 8px ;
    background: none repeat scroll 0 0 #DAD8A0;
    border: 1px solid #B0B0B0;
}

.events .header h2 {
    -moz-border-radius: 8px 8px 0px 0px;
    background-color: #DDEDCC;
    font-family: Gorgia,MS Serif;
    font-size: 18px;
    font-weight: bold;
    padding: 7px;
    margin: 0px;
    border-bottom: 1px solid #B0B0B0;
}

.filter_categories {
    height: 39px;
    margin: 0px;
    padding: 0px;
}
.filter_element {
    background: url(../images/filter_button_bg.png) repeat scroll 0 0 transparent;
    float: left;
    height: 39px;
    cursor: pointer;
}

.filter_name{
    color: #363636;
    font-size: 18px;
    margin-left: 10px;
    padding-top: 12px;
}

#community_filter {
    width: 321px;
}
#date_filter {
    width: 321px;
}
#cost_filter {
    width: 321px;
}

.filter_spacer1 {
    background: -moz-linear-gradient(center bottom , #6E6E6E 21%, #B0B0B0 97%, #D4D4D4 95%) repeat scroll 0 0 #B0B0B0;
    float: left;
    width: 1px;
    height: 100%;
}
.filter_spacer2 {
    background: -moz-linear-gradient(center bottom , #919191 14%, #B8B8B8 40%, #D2D2D2 68%, #EEEEEE 100%) repeat scroll 0 0 #D2D2D2;
    float: left;
    width: 1px;
    height: 39px;
}

.filter_options {
    height: 150px;
    overflow: hidden;
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #B0B0B0;
}
.filter_set {
    float: left;
}
.filter_selection {
    width: 301px;
    height: 100px;
    margin: 10px 10px 10px 10px;
}

.filter_selection_submit {
    float: right;
    margin-right: 30px;
}
*/



