<p id="notice"><%= notice %></p>

<div id='page_title'>
  City: <%= @city %>
</div>

<div id='events_list'>
  <% if(!@city.events.empty?) %>
    <ul>
      <% @city.events.each do |event| %>
	<li><%= link_to event, event_path(event) %></li>
      <% end %>
    </ul>
  <% else %>
    This city currently has no events registered for it. <%= link_to "Add one", new_event_path %>.
  <% end %>
<div>



