Hello, World!

<br/>

<div id="communities" class="home_table">
  <table class="popular">
    TODO: Add popular communities.
  </table>
  <%= link_to "View all Communities", communities_path %>
</div>

<div id="events" class="home_table">

  <%= link_to "Search all Events", '/events/search' %>
</div>
